/* Header */

.col-centered {
    float: none;
    margin: auto;
}


/* About section */

.about li,
p {
    font-size: 1.5rem;
}

.about h4 {
    font-weight: bold;
}

.about {
    padding: 50px 20px;
}


/* Responsive */

@media(max-width:600px) {
    /* About */
    .trophy {
        margin: 50px 80px;
    }
    .content img {
        margin: 10px;
    }
    .content ul {
        padding-left: 15px;
    }
    .about {
        padding: 10px 10px;
    }
    .content img {
        margin-left: 0;
    }
}